<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Tobias Carosso
    </h1>
    <h3>
        Introducción
    </h3>
    <p>
        Mi nombre es Tobias Carosso, tengo 18 años y soy de Argentina. Cumplo años el primero de diciembre, 
        una fecha que siempre espero con ansias para celebrar con mis amigos y familiares.
    </p>
    <h3>
        Educación
    </h3>
    <p>
        Actualmente, estoy cursando el séptimo y último año en un colegio técnico. 
        Ha sido un camino lleno de desafíos y aprendizajes, pero estoy emocionado por lo que el futuro me depara.
    </p>
    <h3>
        Intereses
    </h3>
    <p>
        Desde pequeño, siempre me han fascinado los tanques y los aviones. 
        Este interés ha sido una constante en mi vida y, a menudo, paso horas leyendo sobre ellos o viendo documentales.
    </p>
    <h3>
        Vida Social
    </h3>
    <p>
        Me encanta juntarme con mis amigos de toda la vida. Tenemos un grupo muy unido y siempre encontramos tiempo para compartir risas 
        y aventuras. Tengo un sentido del humor juguetón y me gusta joder con todo, lo que a veces resulta en bromas y momentos inolvidables.
    </p>
    <h3>
        Un Dato Curioso
    </h3>
    <p>
        Algo curioso sobre mí es que soy pelado. Aunque a veces puede ser un tema de bromas entre mis amigos, 
        me gusta tomármelo con humor y siempre busco el lado positivo de las cosas.
    </p>
    <h3>
        Planes Futuros
    </h3>
    <p>
        Estoy en la etapa final de mi educación técnica y estoy emocionado por las oportunidades que se presentarán después de la graduación. 
        Estoy considerando continuar mis estudios en ingeniería o algún campo relacionado con mi pasión por los tanques y aviones.
    </p>
    <h3>
        Despedida
    </h3>
    <p>
        Gracias por tomarse el tiempo para conocerme un poco mejor. Si alguna vez quieren hablar sobre tanques, aviones, 
        o simplemente pasar un buen rato, no duden en buscarme.
    </p>
    <br>
    <p>
        ¡Nos vemos!
    </p>












</body>
</html>